@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Trajan Pro";
  src: url("/fonts/TrajanPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-muted: 255, 255, 255, 0.6;
  --color-border: 255, 255, 255, 0.3;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden !important;
}

.stroke-text {
  -webkit-text-stroke: 0.75px white;
  white-space: nowrap;
}

.trajan {
  font-family: "Trajan Pro", serif;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
